@font-face {
	font-family: 'Under Authority';
	src: url("./UnderAuthority.ttf");
}

@font-face {
	font-family: 'Bebas';
	src: url("./BebasNeue-Regular.woff2");
}

.transformButton {
	width: 165px;
	will-change: transform, opacity;
}

.header {
	text-align: center;
	min-height: 100vh;
	padding-bottom: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}